

  .navbar {
    /* background-color: white; Set the background color to white */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */
    margin: 4px;
  }
  .nav-item a {
    color: black;
    padding: 10px;
    opacity: 0.9;
    width: auto;
    margin: 5px;
  }
  